/* Sophisticated */
.sophisticated {
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
    background-color: rgba(127, 88, 63, 0.8);
}
.sophisticated a {
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: rgba(127, 88, 63, 0);
    text-decoration: none;
    color: rgb(94,47,16);
}
.sophisticated a:hover {
    color: brown;
}
.sophisticated a:active {
    color: black;
}

/* Energetic */
.energetic-body {
    background-color: rgb(117, 146, 255);
}
.energetic {
    background-color: rgb(232, 197, 21);
    font-family: 'Covered By Your Grace';
    font-weight: 400;
    color: rgb(224, 23, 232);
    text-align: center;
}
.energetic h1 {
    font-size: 80px;
}
.energetic h2 {
    font-size: 40px;
}
.energetic-hr {
    border: 0.5px solid rgb(117, 146, 255);
}
.energetic p {
    font-family: monospace;
    font-size: 18px;
}
.energetic footer {
    background-color: rgb(224, 23, 232);
}
.energetic a {
    font-size: 40px;
    text-decoration: none;
    background-color: rgb(224, 23, 232);
}
.energetic a:visited {
    color: rgba(232, 197, 21, 0.5);
}
.energetic a:hover {
    color: rgb(255, 116, 40);
}

/* Relaxed */
.relaxed {
    display: border-box;
    background-image: url('./cherry.jpg');
    max-height: 1920px;
    font-family: 'Amatic SC', cursive;
}
.border {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 15px;
    margin: 0 auto;
    width: 99%;
    margin-top: 100px;
    padding: 7px;
}
.relaxed h1 {
    font-size: 80px;
    text-align: left;
    padding-left: 100px;
    letter-spacing: 3px;
}
.relaxed h2 {
    font-size: 45px;
    font-weight: 500;
    padding-left: 50px;
    letter-spacing: 2px;
}
.relaxed-hr {
    border: 0.5px dotted #000000;
}
.relaxed p {
    font-family: Arial, Helvetica, sans-serif
}
.relaxed a {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: 800;
    transition: 0.5s;
}
.relaxed a:hover {
    color: rgba(0, 0, 0, 0.4);
}

/* Corporate */
.corporate {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(161,161,178,1);
}
.corporate h1 {
    background-color: rgb(232,248,242,1);
    color: rgb(80,80,80);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-shadow: 2px 2px rgb(40,40,40);
    border-bottom: 2px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    font-size: 50px;
    letter-spacing: 2px;
}
.contentbody {
    background-color: rgba(63,79,248,1);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid black;
}
.corporate h2 {
    padding-left: 7px;
}
.corporate p {
    padding-left: 7px;
}
.corporate a {
    text-decoration: none;
    background-color: rgba(161,161,178,1);
    border-radius: 2px;
    font-weight: 800;
}
.corporate a:visited {
    color: rgba(100,100,200,1)
}
.corporate a:hover {
    background-color: rgba(80,80,80);
}

/* Fun */
.fun {
    font-family: 'Bowlby One SC', cursive;
    padding: 1px;
    margin: 0px;
}
.fun h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(226,18,248);
    background-color: rgb(150,255,56);
    margin: 0;
    text-shadow: 1px 1px #000000;
}
.fun p {
    color: rgb(255,133,189);
    text-shadow: 1px 1px #000000;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.fun-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    background: rgb(150,255,56);
}
.header-box {
    width: 48%;
    display: inline-block;
}
.header-box h2 {
    color: rgb(255,133,189);
    font-size: 36px;
    text-shadow: 2px 2px #000000;
}
.content-box {
    width: 48%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.bodycolor {
    background: rgb(150,255,56);
}
.fun hr {
    background: red;
    box-shadow: 0 0 10px 1px black;
}
.fun a {
    text-decoration: none;
    background: rgb(150,255,56);
    font-size: 24px;
    color: rgb(224, 23, 232);
    
}
.fun a:hover {
    text-shadow: 2px 2px rgb(255,133,189);
}

